#!/bin/bash

#'https://yoursite.atlassian.com/wiki'
export CONFLUENCE_URL=<URL>
#https://confluence.atlassian.com/enterprise/using-personal-access-tokens-1026032365.html
export CONFLUENCE_TOKEN=<TOKEN>
#https://awesome-astra.github.io/docs/pages/astra/download-scb/#c-procedure
export ASTRADB_TOKEN=<TOKEN starting with AstraCS:>
export ASTRADB_BUNDLE=<PATH TO SCB.zip>
export ASTRADB_KEYSPACE=<KEYSPACE NAME>
export ASTRADB_TABLE=confluence
# granted AI Platform Admin - there's probably something narrower.
export GOOGLE_APPLICATION_CREDENTIALS=<PATH to JSON>
